:root {
  --note-pink: #FF7EB9;
  --note-yellow: #FEFF9C;
  --note-blue: #7AFCFF;
  --perm-marker: 'Permanent Marker', cursive;
}

body {
  background-image: url('https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg');
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--perm-marker);
  text-align: center;
}

h1 {
  background-color: var(--note-yellow);
}

#notes-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.note, form {
  height: 10em;
  margin: 1em;
  width: 20em;
}

.note {
  background-color: var(--note-pink);
  border: dotted black 1px;
  margin: 1em;
}

form {
  background-color: var(--note-blue);
}

form * {
  margin: 1em;
}

input[type=text] {
  width: 90%;
}

button {
  background-color: var(--note-blue);
  border: solid black 3px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--perm-marker);
}
